<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>mu-assessment - Jackrabbit Demo Application</display-name>

    <!-- S E R V L E T S -->

    <!-- Jackrabbit Repository Servlet -->
    <servlet>
        <description>
            Servlet that makes a Jackrabbit repository available as a servlet context
            attribute. The repository is started during servlet initialization and
            shut down when the servlet is destroyed.
        </description>
        <servlet-name>JackrabbitRepositoryServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.servlet.jackrabbit.JackrabbitRepositoryServlet</servlet-class>
        <init-param>
            <param-name>repository.home</param-name>
            <param-value>mu-repository</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Init Servlet -->
    <servlet>
        <description>
            The InitServlet register namespace and nodetypes, import prepared data for repository
            needed for mu-assessment demo application.
            InitServlet must be loaded after JackrabbitRepositoryServlet but before other servlets.
        </description>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.InitServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Login Servlet -->
    <servlet>
        <description>
            Verify users login and password. If user sucessfully login forward to test list,
            else redirect to error page.
        </description>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.LoginServlet</servlet-class>
    </servlet>

    <!-- Logout Servlet -->
    <servlet>
        <description>
            Invalidate web session and redirect to welcome page.
        </description>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.LogoutServlet</servlet-class>
    </servlet>

    <!-- Test List Servlet -->
    <servlet>
        <description>
            Put tests list to web session and forward to tests list page.
        </description>
        <servlet-name>TestsServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestsServlet</servlet-class>
    </servlet>

    <!-- Test Begin Servlet -->
    <servlet>
        <description>
            todo
        </description>
        <servlet-name>TestBeginServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestBeginServlet</servlet-class>
    </servlet>

    <!-- Test Process Servlet -->
    <servlet>
        <servlet-name>TestProcessServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestProcessServlet</servlet-class>
    </servlet>

    <!-- Test End Servlet -->
    <servlet>
        <servlet-name>TestEndServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestEndServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SourceFilesServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.SourceFilesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SourceFileServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.SourceFileServlet</servlet-class>
    </servlet>

    <!-- Packages List Servlet -->
    <servlet>
        <servlet-name>PackagesServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.PackagesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PackageServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.PackageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PackageUploadServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.PackageUploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PackageDeleteServletServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.PackageDeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QuestionEditServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.QuestionEditServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QuestionUpdateServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.QuestionUpdateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.ErrorServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.WelcomeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestCreateServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestCreateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestAddServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestAddServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TopicCreateServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TopicCreateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestDeleteServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestDeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestEditServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.TestEditServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PackageDownloadServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.PackageDownloadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DumpServlet</servlet-name>
        <servlet-class>org.apache.jackrabbit.demo.mu.servlets.DumpServlet</servlet-class>
    </servlet>

    <!-- S E R V L E T   M A P P I N G -->

    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestsServlet</servlet-name>
        <url-pattern>/tests</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestBeginServlet</servlet-name>
        <url-pattern>/begin-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestProcessServlet</servlet-name>
        <url-pattern>/process-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEndServlet</servlet-name>
        <url-pattern>/end-test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SourceFilesServlet</servlet-name>
        <url-pattern>/source-files</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SourceFileServlet</servlet-name>
        <url-pattern>/source-file</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PackagesServlet</servlet-name>
        <url-pattern>/packages</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PackageServlet</servlet-name>
        <url-pattern>/package</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PackageUploadServlet</servlet-name>
        <url-pattern>/upload-package</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PackageDeleteServletServlet</servlet-name>
        <url-pattern>/delete-package</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuestionUpdateServlet</servlet-name>
        <url-pattern>/update-question</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuestionEditServlet</servlet-name>
        <url-pattern>/edit-question</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestCreateServlet</servlet-name>
        <url-pattern>/create-test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAddServlet</servlet-name>
        <url-pattern>/add-test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TopicCreateServlet</servlet-name>
        <url-pattern>/create-topic</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestDeleteServlet</servlet-name>
        <url-pattern>/delete-test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PackageDownloadServlet</servlet-name>
        <url-pattern>/download-package</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestEditServlet</servlet-name>
        <url-pattern>/edit-test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DumpServlet</servlet-name>
        <url-pattern>/dump</url-pattern>
    </servlet-mapping>

    <!-- F I L T E R S -->

    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.jackrabbit.demo.mu.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <!-- F I L T E R   M A P P I N G -->

    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- W E L C O M E   F I L E S -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- P A R A M E T E R S -->

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>en</param-value>
    </context-param>

</web-app>
